@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto+Mono:wght@300;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: rgb(210, 210, 210);
    --background-color: black;
    --primary: rebeccapurple;
    --secondary: cornflowerblue;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    scrollbar-width: 20px;
    scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
    width: 12px;
    height: 0;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}


body {
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
}